{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    <ul>
        {% for address in addresses %}
            <li><a href="/address/{{ address.id }}">{{ address.metro_station }}</a></li>
        {% endfor %}
    </ul>
    <a href="/address/add">Добавить</a>
{% endblock %}