{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    {{ address.metro_station }}
    <form method="POST" action="/address/{{ address.id }}">
        <button type="submit">Удалить</button>
    </form>
{% endblock %}