{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    <form method="POST" action="/address/add">
        <label>Метро</label>
        <input type="text" name="metro_station" required>
        <button type="submit">Создать</button>
    </form>
    <a href="/address">К списку</a>
{% endblock %}