{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    <form method="POST" action="/category/add">
        <label>Наименование</label>
        <input type="text" name="name" required>
        <button type="submit">Создать</button>
    </form>
    <a href="/category">К списку</a>
{% endblock %}