{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    <ul>
        {% for category in categories %}
            <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="/category/add">Добавить</a>
{% endblock %}