<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ category.name }}
    <form method="POST" action="/category/{{ category.id }}">
        <button type="submit">Удалить</button>
    </form>
</body>
</html>
