{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    {{ company.name }}
    <form method="POST" action="/company/{{ company.id }}">
        <button type="submit">Удалить</button>
    </form>
{% endblock %}