{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    <ul>
        {% for company in companies %}
            <li><a href="/company/{{ company.id }}">{{ company.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="/company/add">Добавить</a>
{% endblock %}