{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    {{ coupon.code }}
    {{ coupon.description }}
    <form method="POST" action="/coupon/add">
        <label>Код</label>
        <input type="text" name="code" required>
        <label>Описание</label>
        <input type="text" name="description" required>
        <button type="submit">Создать</button>
    </form>
    <a href="/coupon">К списку</a>
{% endblock %}