{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    {{ coupon.code }}
    {{ coupon.description }}
    <form method="POST" action="/coupon/{{ coupon.id }}">
        <button type="submit">Удалить</button>
    </form>
{% endblock %}