{% extends "base.html" %}
{% block title %}Список адресов{% endblock %}
{% block content %}
    <ul>
        {% for coupon in coupons %}
            <li><a href="/coupon/{{ coupon.id }}">{{ coupon.description }}</a></li>
        {% endfor %}
    </ul>
    <a href="/coupon/add">Добавить</a>
{% endblock %}