{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <ul>
        <li><a href="/address">Адреса</a></li>
        <li><a href="/category">Категории</a></li>
        <li><a href="/company">Компании</a></li>
        <li><a href="/coupon">Купоны</a></li>
    </ul>
{% endblock %}
