{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form method="POST" action="/login">
        <div class="form-group">
            <label>Имя пользователя</label>
            <input class="form-control" type="text" name="username" required>
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input class="form-control" type="password" name="password" required>
        </div>

        <button class="btn btn-default" type="submit">Войти</button>
    </form>
{% endblock %}